.skillCardDiv {
	display: flex;
	max-width: 2000px;
	flex-wrap: wrap;
	margin: 2em auto;
	justify-content: center;
}

// @media screen and (min-width: 1020px) {
// 	.skillCardDiv {
// 		margin: 8em auto;
// 	}
// }
