.introText {
	margin: 4em auto;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	max-width: 600px;
}

.heading-secondary {
	font-size: 2em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #dddbff;
	margin-bottom: 2em;
	line-height: 1.4em;
}
.heading-tertiary {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1.5em 0;
	color: #dddbff;
	letter-spacing: 1px;
}
.intro-para {
	font-size: 1.3em;
	line-height: 1.4em;
}

@media screen and (min-width: 620px) {
	.introText {
		font-size: 20px;
	}
}
