body {
	margin: 0;
	background-color: #100e16;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	overflow-y: scroll;
}

body,
html {
	font-family: "Roboto", sans-serif;
	color: white;
	height: 100%;
	width: 100%;
	position: fixed;
	/* overflow-y: visible; */
}

html {
	overflow: hidden !important;
}
*,
::after,
::before {
	box-sizing: border-box;
}
