body {
	margin: 0;
	background-color: #100e16;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	overflow-y: scroll;
}

body,
html {
	font-family: "Roboto", sans-serif;
	color: white;
	height: 100%;
	width: 100%;
	position: fixed;
	/* overflow-y: visible; */
}

html {
	overflow: hidden !important;
}
*,
::after,
::before {
	box-sizing: border-box;
}

.fade-in {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}
.fade-in-slow {
	animation: fadeInSlow ease 4s;
	-webkit-animation: fadeInSlow ease 4s;
	-moz-animation: fadeInSlow ease 4s;
	-o-animation: fadeInSlow ease 4s;
	-ms-animation: fadeInSlow ease 4s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInSlow {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeInSlow {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInSlow {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeInSlow {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeInSlow {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
